@import "tailwindcss";

@theme {
  --color-light-orange: #fffbec;
  --color-dark-orange: #9d7f19;
  --color-light-black: #313131;
  --color-light-gray: #6d6e70;
  --color-dark-gray: #f8f8f8;
  --color-wide-gray: #d0d0d0;
  --color-wide-black: #d9d9d9;
  --leading-135: "135%";
  --leading-130: "130%";
  --leading-142: "1.42";
  --leading-140: "140%";
  --leading-125: "125%";
  --leading-120: "120%";
  --leading-116: "116%";
  --leading-110: "110%";
  --leading-100: "1";
}

@font-face {
  font-family: "Futura BK BT";
  src: url("../../public/assets/fonts/FuturaBT-Book.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond Bold";
  src: url("../../public/assets/fonts/CormorantGaramond-Bold.woff2");
  font-style: bold;
}

@font-face {
  font-family: "Cormorant Garamond Semibold";
  src: url("../../public/assets/fonts/CormorantGaramond-SemiBold.woff2");
}

@font-face {
  font-family: "Cormorant Garamond regular";
  src: url("../../public/assets/fonts/CormorantGaramond-Regular.woff2");
}

@font-face {
  font-family: "Futura Lt BT";
  src: url("../../public/assets/fonts/FuturaBT-Light.woff2");
}

@font-face {
  font-family: "Futura MD BT";
  src: url("../../public/assets/fonts/FuturaBT-Medium_1.woff2");
}

body {
  font-family: "Futura BK BT";
}

.cormorantBold {
  font-family: "Cormorant Garamond Bold" !important;
}

.cormorantSemiBold {
  font-family: "Cormorant Garamond Semibold" !important;
}

.cormorantRegular {
  font-family: "Cormorant Garamond regular" !important;
}

.futuraLight {
  font-family: "Futura Lt BT" !important;
}

.futuraMedium {
  font-family: "Futura MD BT" !important;
}

.navbg {
  background-color: rgba(31, 25, 20, 0.5);
}

.navpopup {
  background-color: rgba(24, 22, 21, 0.8);
}
.css-1u9des2-indicatorSeparator {
  display: none !important;
}
.swiper-button-lock {
  display: flex !important;
}
.next-button::after,
.next-btn::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #9d7f19;
  transform: rotate(45deg) translateY(-7px);
  transition: all 300ms linear;
}

.next-button::before,
.next-btn::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #9d7f19;
  transform: rotate(-45deg) translateY(7px);
  transition: all 300ms linear;
}

.prev-button::after,
.prev-btn::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #9d7f19;
  transform: rotate(45deg) translateY(7px);
  transition: all 300ms linear;
}

.prev-button::before,
.prev-btn::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #9d7f19;
  transform: rotate(-45deg) translateY(-7px);
  transition: all 300ms linear;
}

.next-button:hover::after,
.next-button:hover::before,
.next-btn:hover::after,
.next-btn:hover::before,
.prev-button:hover::after,
.prev-button:hover::before,
.prev-btn:hover::after,
.prev-btn:hover::before {
  background-color: black;
}

@media (max-width: 1023.98px) {
  .navpopupwhite {
    background-color: rgba(235, 235, 234, 0.8) !important;
  }
  .navWhite {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
}

@media (max-width: 768.98px) {
  .bhk-swiper .swiper-wrapper {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 657.98px) {
  .bhk-swiper .swiper-wrapper {
    display: flex;
    justify-content: unset;
  }
}

@layer components {
  .container {
    @apply !w-full !max-w-[1210px] !mx-auto !px-5;
  }
}

.custom-dots-swiper .swiper-slide button {
  @apply max-lg:opacity-0;
}
.custom-dots-swiper .swiper-slide-active button {
  opacity: 100;
}
.custom-dots-swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply size-2 !bg-wide-black !opacity-50 !scale-100 !transition-all !duration-300 !ease-linear !transform-none;
}
.custom-dots-swiper
  .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  @apply !opacity-100;
}
::-webkit-scrollbar {
  @apply hidden;
}
.para-detail-rera span {
  @apply block;
}
.para-detail-rera a {
  @apply text-dark-orange transition-all ease-linear duration-300 hover:text-dark-orange/80 hover:underline;
}
.swiper-button-disabled {
  @apply !border-gray-400 cursor-not-allowed;
}
